OMNI_OFFLINE_STRICT=true
OMNI_ENABLE_MODEL_DOWNLOADS=false
OMNI_ENABLE_SWARM=false
OMNI_ALLOW_LAN=false
OMNI_ENABLE_EXTERNAL_DEVICES=false
OMNI_API_HOST=127.0.0.1
OMNI_API_PORT=8000
OMNI_FRONTEND_HOST=127.0.0.1
OMNI_FRONTEND_PORT=3000
